body{
	font-family: sans-serif;
}
/*NAVBAR*/

nav{
	background-color: #FFFFFF;
	height: 90px;
  	border-bottom: 2px solid #dee7ec;
}

li{
	list-style: none;
}


.nav-logo{
	float: left;
	padding: 20px 40px;
	font-size: 50px;
}



.nav-list li{
	float: left;
	padding: 33px 45px;
	margin-right: 20px;
}	

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: blue;
}


/*MAIN*/

/*HOME*/

main .home{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: red;
	height: 600px;
}

main .about{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: black;
	height: 600px;
}

main .project{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: red;
	height: 600px;
}

main .contact{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: black;
	height: 600px;
}

footer{
	background-color: #FFFFFF;
	height: 90px;
}